body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

/***********************
    Fonts
***********************/
* {
  font-family: "Bebas", helvetica, arial;
}


#directions {
  display: inline-block;
  color: #d2dfe5;
  font-size: 18px;
  margin: 5px;
  vertical-align: text-bottom;
}

p {
  color: #d2dfe5;
}

/***********************
    Page Layout
***********************/
#header {
  display: inline-block;
  padding-right: 1em;
}

#header h4 {
  margin-top: 0;
}

#header p {
  margin-bottom: 0;
  margin-top: 5px;
}

#startLocation {
  width: 450px;
  background-color: #464c53;
  border: none;
  outline: none;
  color: #d2dfe5;
  line-height: 40px;
  font-size: 20px;
  vertical-align: bottom;
  margin-bottom: 6px;
}

.form {
  background-color: #172536;
  padding: 5px;
  height: 60px;
}

.header {
  background-color: #ffa339;
  color: #49027c;
}

.btn-success {
  background-color: #82f537;
  color: #8c0ee6;
  font-weight: 700;
}

.map {
  margin: 0;
  padding: 0;
}

h4 {
  color: #db5b00;
}

.accordion {
  background-color: #2a3f5c;
  color: #8e9ca9;
  font-size: 15px;
  margin-bottom: 5px;
  overflow: hidden;
}

.accordion:focus {
  border: none;
}

.accordion:after {
  border: none;
}

#remove-btn {
  background-color: #db5b00;
}

.panel {
  text-align: center;
}

.panel p {
  color: #172536;
}

.results {
  background-image: url("../images/results-container.jpg");
  background-size: cover;
  height: 400px;
  overflow: auto;
  border: 8px solid #172536;
  border-radius: 15px;
  z-index: 1;
  position: absolute;
  margin-left: 65em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.results h4 {
  text-align: center;
}

#infoWindow p {
  color: #172536;
}

/***********************
    Maps
***********************/
#map {
  width: 100%;
  height: 100%;
  width: 100%
  border: 1px solid #000;
}

input[type="text"] {
  border-radius: 5px;
  padding-left: 10px;

}

select {
  font-family: 'Fresca', sans-serif;
  border-radius: 5px;
  padding: 3px 5px;
}

.panel {
  padding: 5px;
}

.hours {
  margin-left: 5px;
  line-height: 8px;
}

.author {
  text-align: right;
  font-style: italic;
}

li {
  padding-left: 10px;
  font-size: 16px;
}

.open>.dropdown-menu {
    display: block;
    width: 106px;
    margin-left: 175px;
    background-color: #fff;
}

.dropdown-menu {
  min-width: 0;
}

/***********************
    Modal
***********************/
#modal-21 {
  padding-top: 5em;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(51,51,51,0.9);
  z-index: 1;
  text-align: center;
}

#modal-body {
  margin-top: 10px;
  margin: auto;
  width: 50%;
  padding: 2em;
  background-image: url("../images/results-container.jpg");
}

#modal-21 p {
  color: #172536;
}

.modal-btn {
  background-color: #2a3f5c;
  color: #8e9ca9;
  font-size: 15px;
  margin: 5px;
  width: 5em;
}


/***********************
    Media-Queries
***********************/
@media only screen and (max-width: 1200px) {

  .results {
    background-image: url("../images/results-container.jpg");
    background-size: cover;
    height: 300px;
    overflow: auto;
    border: 8px solid #172536;
    border-radius: 0;
    z-index: 0;
    position: relative;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

@media only screen and (max-width: 850px) {

  #directions {
    display: block;
    color: #d2dfe5;
    font-size: 18px;
    margin: auto;
    margin-bottom: 10px;
    vertical-align: text-bottom;
    display: table;
  }

  #startLocation {
    width: 350px;
    background-color: #464c53;
    border: none;
    outline: none;
    color: #d2dfe5;
    line-height: 40px;
    font-size: 20px;
    vertical-align: bottom;
    margin: auto;
    display: block;
  }
  .form {
    background-color: #172536;
    padding: 5px;
    height: 140px;
    overflow: auto;
  }
}
